In [1]:
pip install psycopg2 pandas

Requirement already satisfied: psycopg2 in c:\users\rafae\anaconda3\envs\rafael\lib\site-packages (2.9.10)
Requirement already satisfied: pandas in c:\users\rafae\anaconda3\envs\rafael\lib\site-packages (2.2.3)
Requirement already satisfied: numpy>=1.26.0 in c:\users\rafae\anaconda3\envs\rafael\lib\site-packages (from pandas) (2.0.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\rafae\anaconda3\envs\rafael\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\rafae\anaconda3\envs\rafael\lib\site-packages (from pandas) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\rafae\anaconda3\envs\rafael\lib\site-packages (from pandas) (2023.3)
Requirement already satisfied: six>=1.5 in c:\users\rafae\anaconda3\envs\rafael\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.

In [7]:
# Conectando ao banco Supabase
import psycopg2
import pandas as pd

# Conectar ao Supabase
conn = psycopg2.connect(
    "postgresql://postgres:[senha]@db.dloksrvgbipiqaqnwzlt.supabase.co:5432/postgres"
)
cur = conn.cursor()
print("Conectado com sucesso!")

Conectado com sucesso!

In [11]:
#Criando Tabelas
cur.execute("""
CREATE TABLE IF NOT EXISTS artistas (
    id SERIAL PRIMARY KEY,
    nome VARCHAR(100),
    genero VARCHAR(50)
);

CREATE TABLE IF NOT EXISTS musicas (
    id SERIAL PRIMARY KEY,
    titulo VARCHAR(100),
    duracao_segundos INT,
    artista_id INT REFERENCES artistas(id)
);
""")
conn.commit()
print("Tabela Criada")

Tabela Criada

In [15]:
#Inserção de Dados
# Inserindo artistas
cur.execute("INSERT INTO artistas (nome, genero) VALUES (%s, %s)", ("Anavitória", "Pop"))
cur.execute("INSERT INTO artistas (nome, genero) VALUES (%s, %s)", ("Djavan", "MPB"))
cur.execute("INSERT INTO artistas (nome, genero) VALUES (%s, %s)", ("Alok", "Eletrônica"))

# Inserindo músicas (10 músicas)
musicas = [
    ("Trevo (Tu)", 210, 1),
    ("Agora Eu Quero Ir", 185, 1),
    ("Flor de Lis", 230, 2),
    ("Oceano", 250, 2),
    ("Sina", 200, 2),
    ("Hear Me Now", 270, 3),
    ("Don't Say Goodbye", 240, 3),
    ("Alive", 220, 3),
    ("Cor de Marte", 195, 1),
    ("Samurai", 255, 2)
]

for m in musicas:
    cur.execute("INSERT INTO musicas (titulo, duracao_segundos, artista_id) VALUES (%s, %s, %s)", m)

conn.commit()
print("Dados Inseridos")

Dados Inseridos

In [17]:
#Consultas Simples (Sem filtro)
cur.execute("SELECT * FROM musicas")
for linha in cur.fetchall():
    print(linha)

(1, 'Trevo (Tu)', 210, 1)
(2, 'Agora Eu Quero Ir', 185, 1)
(3, 'Flor de Lis', 230, 2)
(4, 'Oceano', 250, 2)
(5, 'Sina', 200, 2)
(6, 'Hear Me Now', 270, 3)
(7, "Don't Say Goodbye", 240, 3)
(8, 'Alive', 220, 3)
(9, 'Cor de Marte', 195, 1)
(10, 'Samurai', 255, 2)
(11, 'Trevo (Tu)', 210, 1)
(12, 'Agora Eu Quero Ir', 185, 1)
(13, 'Flor de Lis', 230, 2)
(14, 'Oceano', 250, 2)
(15, 'Sina', 200, 2)
(16, 'Hear Me Now', 270, 3)
(17, "Don't Say Goodbye", 240, 3)
(18, 'Alive', 220, 3)
(19, 'Cor de Marte', 195, 1)
(20, 'Samurai', 255, 2)

In [19]:
#Consulta com Filtro (músicas do artista Djavan)
cur.execute("""
SELECT musicas.titulo, musicas.duracao_segundos
FROM musicas
JOIN artistas ON musicas.artista_id = artistas.id
WHERE artistas.nome = 'Djavan'
""")
for linha in cur.fetchall():
    print(linha)

('Flor de Lis', 230)
('Oceano', 250)
('Sina', 200)
('Samurai', 255)
('Flor de Lis', 230)
('Oceano', 250)
('Sina', 200)
('Samurai', 255)

In [21]:
#Atualização de Dados
cur.execute("UPDATE artistas SET genero = 'Música Popular Brasileira' WHERE nome = 'Djavan'")
conn.commit()
print("Gênero atualizado para Djavan.")

Gênero atualizado para Djavan.

In [23]:
#Deleção de Música
cur.execute("DELETE FROM musicas WHERE titulo = 'Alive'")
conn.commit()
print("Música deletada.")

Música deletada.

In [39]:
#Integração com Pandas
df = pd.read_sql("""
SELECT m.titulo AS "Música", m.duracao_segundos AS "Duração(s)", a.nome AS "Artista"
FROM musicas m
JOIN artistas a ON m.artista_id = a.id
""", conn)

df

C:\Users\rafae\AppData\Local\Temp\ipykernel_8108\1763029545.py:2: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  df = pd.read_sql("""

               Música  Duração(s)     Artista
0          Trevo (Tu)         210  Anavitória
1   Agora Eu Quero Ir         185  Anavitória
2         Flor de Lis         230      Djavan
3              Oceano         250      Djavan
4                Sina         200      Djavan
5         Hear Me Now         270        Alok
6   Don't Say Goodbye         240        Alok
7        Cor de Marte         195  Anavitória
8             Samurai         255      Djavan
9          Trevo (Tu)         210  Anavitória
10  Agora Eu Quero Ir         185  Anavitória
11        Flor de Lis         230      Djavan
12             Oceano         250      Djavan
13               Sina         200      Djavan
14        Hear Me Now         270        Alok
15  Don't Say Goodbye         240        Alok
16       Cor de Marte         195  Anavitória
17            Samurai         255      Djavan

In [41]:
cur.close()
conn.close()
print("Conexão encerrada")

Conexão encerrada