In [3]:
#pandas
# bibliotecas
import pandas as pd             # objetos DataFrame e Series 
import numpy as np              # objetos arrays e matrizes

In [9]:
df = pd.read_csv('C:/Users/rafae/OneDrive/Área de Trabalho/Eletiva de Dados/Atividades/Exercício09/train_titanic.csv')

In [11]:
# 3 primeiras linhas
df.head(3)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S

In [13]:
#Qual a porcentagem de passageiros sobreviveram ao titanic?

# Número de sobreviventes
sobreviventes = df['Survived'].sum()

# Numero de passageiros
total_passageiros = len(df)

percentual_sobreviventes = (sobreviventes / total_passageiros) * 100

print(f"{percentual_sobreviventes:.2f}% sobreviventes")

38.38% sobreviventes

In [15]:
#Qual a porcentagem de passageiros que viajaram de terceira classe?

# Filtrando passageiros pela 3º classe
terceira_classe = df[df['Pclass'] == 3]

# contando os numeros de passageiros
num_terceira_classe = len(terceira_classe)

# Total de passageiros
total_passageiros = len(df)

percentual_3_classe = (num_terceira_classe / total_passageiros) * 100

print(f"{percentual_3_classe:.2f}% são da 3º classe")

55.11% são da 3º classe

In [17]:
#Quais as idades médias e medianas dos passageiros?

# Média
IdadeMedia = df['Age'].mean() 
# Mediana
IdadeMediana = df['Age'].median() 

print(f"A média da idade é {IdadeMedia:.2f} anos e a mediana é {IdadeMediana:.2f} anos.")

A média da idade é 29.70 anos e a mediana é 28.00 anos.

In [19]:
#Quais valores das tarifas médias e medianas foram pagos pelos passageiros?

#Média
ValorMedio = df['Fare'].mean() 
#Mediana
ValorMediano = df['Fare'].median() 

print(f"A mádia dos valores das passagens é {ValorMedio:.2f} reais e a mediana é {ValorMediano:.2f} reais")

A mádia dos valores das passagens é 32.20 reais e a mediana é 14.45 reais

In [23]:
#Quais cabines mais frequentes nos dados e qual a frequência?

Cabines= df['Cabin'].value_counts()
print(Cabines)

Cabin
B96 B98        4
G6             4
C23 C25 C27    4
C22 C26        3
F33            3
              ..
E34            1
C7             1
C54            1
E36            1
C148           1
Name: count, Length: 147, dtype: int64

In [25]:
#Quantos valores estão faltantes na coluna Cabin?

Cabin_em_branco = df['Cabin'].isna().sum()
print(Cabin_em_branco)

687

In [27]:
#Sobreviveram mais mulheres ou homens?

# Agrupar os sobreviventes por sexo
sobreviventes = df[df['Survived'] == 1]['Sex'].value_counts()
print(sobreviventes)

Sex
female    233
male      109
Name: count, dtype: int64

In [29]:
#Quais as porcentagens de sobreviventes em cada classe?

#Agupar Classe dos sobreviventes e suas porcentagens
Sobreviventes = df[df['Survived'] == 1]['Pclass'].value_counts(normalize=True)*100
print(Sobreviventes)

Pclass
1    39.766082
3    34.795322
2    25.438596
Name: proportion, dtype: float64

In [33]:
#Os nomes vem com os títulos. Qual é o título mais frequente e qual a frequência?

# Extrair os títulos
df['Title'] = df['Name'].str.extract(r',\s*([^\.]+)\.')

# Quantidade de cada titulo
frequencia = df['Title'].value_counts()
print(frequencia)

# Mostrar o título mais comum
titulo_mais_comum = frequencia.idxmax()
frequencia_mais_comum = frequencia.max()

print(f"\nO título mais frequente é '{titulo_mais_comum}' com {frequencia_mais_comum} ocorrências.")

Title
Mr              517
Miss            182
Mrs             125
Master           40
Dr                7
Rev               6
Mlle              2
Major             2
Col               2
the Countess      1
Capt              1
Ms                1
Sir               1
Lady              1
Mme               1
Don               1
Jonkheer          1
Name: count, dtype: int64

O título mais frequente é 'Mr' com 517 ocorrências.

In [39]:
#Qual a taxa de sobreviventes considerando apenas menores de 12 anos?

# Filtrar 
menores_12 = df[df['Age'] < 12]

# Quantidade de sobreviventes
sobreviveram_menores_12 = menores_12['Survived'].sum()

# Total de menores de 12 anos
total_menores_12 = len(menores_12)

taxa_sobrevivencia = (sobreviveram_menores_12 / total_menores_12) * 100

print(f"{taxa_sobrevivencia:.2f}%")

57.35%

In [43]:
#A primeira letra da cabine representa o deck do barco. Desprezando os dados faltantes, qual porcertagem de sobreviventes por deck?

df_com_cabine = df.dropna(subset=['Cabin'])
df_com_cabine['Deck'] = df_com_cabine['Cabin'].str[0]
sobreviventes = df_com_cabine[df_com_cabine['Survived'] == 1]
porcentagem_sobreviventes_por_deck = sobreviventes['Deck'].value_counts(normalize=True) * 100

print(porcentagem_sobreviventes_por_deck.round(2))

Deck
C    25.74
B    25.74
D    18.38
E    17.65
F     5.88
A     5.15
G     1.47
Name: proportion, dtype: float64

C:\Users\rafae\AppData\Local\Temp\ipykernel_6572\2869955731.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_com_cabine['Deck'] = df_com_cabine['Cabin'].str[0]

In [45]:
#Qual a porcentagem de sobreviventes considerando apenas os decks faltantes?

# Filtrar
sem_cabine = df[df['Cabin'].isna()]
total_sem_cabine = len(sem_cabine)

# Número de sobreviventes entre os que não têm cabine
sobreviventes_sem_cabine = sem_cabine['Survived'].sum()

porcentagem_sobreviventes_sem_cabine = (sobreviventes_sem_cabine / total_sem_cabine) * 100

print(f"{porcentagem_sobreviventes_sem_cabine:.2f}%")

29.99%

In [47]:
#Qual porcentagem de mulheres da primeira classe sobreviveram?


mulheres_primeira_classe = df[(df['Sex'] == 'female') & (df['Pclass'] == 1)]
total_mulheres_primeira = len(mulheres_primeira_classe)
sobreviventes_mulheres_primeira = mulheres_primeira_classe['Survived'].sum()
porcentagem_sobrevivencia = (sobreviventes_mulheres_primeira / total_mulheres_primeira) * 100

print(f"{porcentagem_sobrevivencia:.2f}%")

96.81%

In [49]:
#Por qual portão os passageiros da primeira classe mais embarcaram?

primeira_classe = df[df['Pclass'] == 1]
embarques_por_portao = primeira_classe['Embarked'].value_counts()
print("Frequência de embarque por portão (1ª classe):")
print(embarques_por_portao)
portao_mais_comum = embarques_por_portao.idxmax()
qtd_mais_comum = embarques_por_portao.max()

print(f"\nO portão mais comum de embarque na 1ª classe foi '{portao_mais_comum}' com {qtd_mais_comum} passageiros.")

Frequência de embarque por portão (1ª classe):
Embarked
S    127
C     85
Q      2
Name: count, dtype: int64

O portão mais comum de embarque na 1ª classe foi 'S' com 127 passageiros.

In [51]:
#Qual a idade média entre as mulheres sobreviventes? E entre as mulheres não sobreviventes?

# Mulheres sobreviventes
mulheres_sobreviventes = df[(df['Sex'] == 'female') & (df['Survived'] == 1)]
idade_media_sobreviventes = mulheres_sobreviventes['Age'].mean()

# Mulheres não sobreviventes
mulheres_nao_sobreviventes = df[(df['Sex'] == 'female') & (df['Survived'] == 0)]
idade_media_nao_sobreviventes = mulheres_nao_sobreviventes['Age'].mean()

print(f"A idade média das mulheres sobreviventes é {idade_media_sobreviventes:.2f} anos.")
print(f"A idade média das mulheres não sobreviventes é {idade_media_nao_sobreviventes:.2f} anos.")

A idade média das mulheres sobreviventes é 28.85 anos.
A idade média das mulheres não sobreviventes é 25.05 anos.

In [53]:
#Qual a idade mediana entre os homens da primeira classe que não sobreviveram?

# Homens da 1ª classe que sobreviveram
homens_1classe_sobreviventes = df[(df['Sex'] == 'male') & (df['Pclass'] == 1) & (df['Survived'] == 1)]
idade_mediana_sobreviventes = homens_1classe_sobreviventes['Age'].median()

# Homens da 1ª classe que não sobreviveram
homens_1classe_nao_sobreviventes = df[(df['Sex'] == 'male') & (df['Pclass'] == 1) & (df['Survived'] == 0)]
idade_mediana_nao_sobreviventes = homens_1classe_nao_sobreviventes['Age'].median()

print(f"A idade mediana dos homens da 1ª classe que sobreviveram é {idade_mediana_sobreviventes:.2f} anos.")
print(f"A idade mediana dos homens da 1ª classe que não sobreviveram é {idade_mediana_nao_sobreviventes:.2f} anos.")

A idade mediana dos homens da 1ª classe que sobreviveram é 36.00 anos.
A idade mediana dos homens da 1ª classe que não sobreviveram é 45.50 anos.

In [55]:
#Considerando as possíveis ternas (deck, local de embarque, sexo), qual terna teve maior porcentagem de não sobreviventes?

nao_sobreviventes = df[df['Survived'] == 0]
cabine = nao_sobreviventes['Cabin'].dropna().map(lambda x: str(x)[0]).value_counts(normalize=True) * 100
genero = nao_sobreviventes['Sex'].value_counts(normalize=True) * 100
embarque = nao_sobreviventes['Embarked'].dropna().value_counts(normalize=True) * 100

print("Distribuição de decks (não sobreviventes):\n", cabine)
print("\nDistribuição de gêneros (não sobreviventes):\n", genero)
print("\nDistribuição de embarques (não sobreviventes):\n", embarque)

Distribuição de decks (não sobreviventes):
 Cabin
C    35.294118
B    17.647059
E    11.764706
A    11.764706
D    11.764706
F     7.352941
G     2.941176
T     1.470588
Name: proportion, dtype: float64

Distribuição de gêneros (não sobreviventes):
 Sex
male      85.245902
female    14.754098
Name: proportion, dtype: float64

Distribuição de embarques (não sobreviventes):
 Embarked
S    77.777778
C    13.661202
Q     8.561020
Name: proportion, dtype: float64